body {
	background: #dddddd;
}

.header{
    height: 40px;
    width: 90%;
    margin-left: 5%;
    margin-top: 14px;
    background: #7ede82;
    border-radius: 7px;
    box-shadow: #80d083 0px 0px 6px;
    position: fixed;
}


.gap5{
	height: 5px;
}
.gap10{
	height: 10px;
}
.gap20{
	height: 20px;
}
.gap30{
	height: 30px;
}

.gap40{
	height: 40px;
}



.header>.title{
    line-height: 40px;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}

.mytoolbar{
	top: 4px;
}

.mytoolbar .btn-floating{
    background: #68dc6d !important;	
}

.listing-frame{
    background: #fff;
    width: 90%;
    border-radius: 3px;
    min-height: 565px;
    box-shadow: #c7c7c7 0px 0px 6px;
}
.tab-header{
	font-weight: 100;
}
.listing-frame>div{
	padding: 10px 15px !important;
	min-height: 565px !important;
}
.users-list{
	border-right: solid 2px #7ede82;
	padding-left: 0px !important;
}

#map-inject{
	min-height: 565px !important;
}

.no-left-padding{
	padding-left: 2px !important;
}
.card-location, .card-time{
	font-size: 16px;
}
.card-location>i, .card-time>i{
	font-size: 15px;
}
.no-bottom-margin{
	margin-bottom: 2px !important;
}
.card-list-items{
	padding-left: 10px;
	cursor: pointer;
	transition: ease-out 0.1s;
	border-bottom: solid 1px #d2d2d2;
}
.card-list-items:hover{
	border-left: solid 4px #7ede82;
}

.card-list-btns{
	padding-top: 23px !important; 
}

.card-list-btns>a{
    width: 106px;
    padding: 0px 7px;
    text-align: left;
    width: 106px;
    padding: 0px 7px;
    text-align: left;
    margin-left: -21px;
    background: #e6e6e6;
    color: #000;
}
.card-list-btns>a:hover{
	background: #fff;
}